

<div id="menu_container">
	
	<%= link_to 'new', '/#/new', :id => "new_msgs_link",
				:class => "top_menu_item rc5", :onclick => "openPage(PAGE_NEW);stop(event);" %>
	<%= link_to 'liked', '/#/liked', :class => "top_menu_item rc5",
					:onclick => "openPage(PAGE_LIKED);stop(event);" %>
	<%= link_to 'other', '/#/other', :class => "top_menu_item rc5",
					:onclick => "openPage(PAGE_OTHER);stop(event);" %>
	<%= link_to 'following', '/#/following', :class => "top_menu_item rc5",
					:onclick => "openPage(PAGE_FOLLOWING);stop(event);" %>
	
	<!-- SEARCH FORM -->
	<div id="search_box">
		<% form_tag :remote => true, :url => { :controller => 'main_page', :action => 'search' },
							:update => 'page_content', :complete => 'showContent()', :html => {:id => 'serach_form'} do %>
			<%= text_field_tag :search_txt, '', :id => 'search_field', :placeholder => "search" %>
		<% end %>
	</div>
	<div style="clear:both"></div>
</div>


<!-- TAGS - CHANGE TO "SECOND LEVEL MENU" -->
<div id="tag_links">
	<%#= render :partial => '/page_helpers/tag_links' %>
</div>
	

<div id="new_message">
	<% form_tag :remote => true, :url => {:controller => "message", :action => "create"},
			:update => 'notice', :complete => "$('#notice').show();$('#new_msg_textarea').val('')" do %>
		<%= text_area_tag :message_text, "", :id => "new_msg_textarea", :onclick=>"", :placeholder => " What's happening?" %>
		<%= submit_tag 'Tweet', :id => "submit_message", :onclick => "" %>
		<div style="clear:both;"></div>
	<% end %>
	<div id="new_message_length_notice">
		<span id="chars_left">140</span> characters left
	</div>
</div>
