<div id="info">
	If you'r following many people on Twitter you'v probably found out that there's lots of clutter between the grains.
	<strong>Sestream</strong> solves this problem by filtering the stream based on your likes.
</div>

<a href="/login" id="login_link">
	<img src="/images/bird_icon_small.jpg" alt="Icon created by Personeelsnet at Flickr." />
	<span id="login_text">Sign in with Twitter</span>
</a>